.card {
  width: 30vw;
  background-color: #f8f8ff;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  margin: 0 20px 20px 0;
}
h4 {
  color: #e73959;
}
.divi {
  text-align: center;
  display: flex;
  justify-content: centre;
  align-items: center;
}
p {
  margin-left: 10px;
}
